torch==2.0.1
langchain
langgraph
langchain_community
langchain-openai
langchainhub
langchain-anthropic
langchain-cohere
openai-whisper
streamlit
tiktoken
pydub
setuptools-rust
pytube
matplotlib
chromadb
tavily-python
pytubefix
